body {
  background-color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button button {
  color: white;
  padding: 8px 12px;
  background: #171717;
  gap: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: none;
}

.header-title {
  font-size: 30px;
  color: #0a0a0a;
  font-weight: 700;
}

.header-content {
  font-size: 16px;
  margin: 8px 0px 0px;
}

.header-button svg {
  width: 16px;
  height: 16px;
}

.search-box {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.search-bar {
  width: 100%;
  padding: 12px 16px 12px 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.search-icon {
  position: absolute;
  top: 13px;
  left: 12px;
}

.contact-list {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.contact-card {
  width: 30%;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 15px;
}

.contact-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-info .line {
  margin: 6px 0;
  display: flex;
  gap: 6px;
  font-size: 15px;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.actions button {
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.edit {
  background: #f1f1f1;
}

.delete {
  background: #ffe5e5;
  color: red;
}
